<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugasakhir.resq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.SignUpRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.SignInRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.TemukanSayaRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.BuatAkunActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.OTPActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.UserNamaActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.TemukanSayaActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.FormTemukanKorbanActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.StatusTemukanKorbanActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity
            android:name=".korban.view.PoskoDetailActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".korban.view.EditProfileKorbanActivity"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity
            android:name=".rescuer.view.WebViewActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.EditProfileRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.HelpVictimActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.OpenMapsActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.ThankYouRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.AddPoskoRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.detailHistory.DetailHistoryRescuerActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.detailHistory.DetailHistoryVictimActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".rescuer.view.AddPoskoLocationActivity"
            android:theme="@style/AppTheme.CustomTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>